@font-face {
    font-family: "IconFont";
    src: url('IconFont.woff2?t=1698213075455') format('woff2'),
        url('IconFont.woff?t=1698213075455') format('woff'),
        url('IconFont.ttf?t=1698213075455') format('truetype');
}

.iconfont {
    font-family: "IconFont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-CachedFilled:before { content: "\e900"; }
.icon-CachedOutlined:before { content: "\e901"; }
.icon-ArrowBackFilled:before { content: "\e902"; }
.icon-CloseFilled:before { content: "\e903"; }
.icon-ArrowForwardFilled:before { content: "\e904"; }
.icon-ExpandMoreFilled:before { content: "\e905"; }
.icon-ExpandLessFilled:before { content: "\e906"; }
.icon-ChevronLeftFilled:before { content: "\e907"; }
.icon-ArrowDownwardFilled:before { content: "\e908"; }
.icon-ArrowDropDownFilled:before { content: "\e909"; }
.icon-ChevronRightFilled:before { content: "\e90a"; }
.icon-MoreHorizFilled:before { content: "\e90b"; }
.icon-MenuFilled:before { content: "\e90c"; }
.icon-ArrowUpwardFilled:before { content: "\e90d"; }
.icon-CheckFilled:before { content: "\e90e"; }
.icon-MoreVertFilled:before { content: "\e90f"; }
.icon-PersonFilled:before { content: "\e910"; }
.icon-PersonAddFilled:before { content: "\e911"; }
.icon-NotificationsFilled:before { content: "\e912"; }
.icon-PeopleFilled:before { content: "\e913"; }
.icon-CheckBoxOutlineBlankOutlined:before { content: "\e914"; }
.icon-StarOutlineOutlined:before { content: "\e915"; }
.icon-CheckBoxOutlineBlankFilled:before { content: "\e916"; }
.icon-StarOutlineFilled:before { content: "\e917"; }
.icon-IndeterminateCheckBoxOutlined:before { content: "\e918"; }
.icon-ToggleOffOutlined:before { content: "\e919"; }
.icon-IndeterminateCheckBoxFilled:before { content: "\e91a"; }
.icon-QueryBuilderFilled:before { content: "\e91b"; }
.icon-ShoppingCartOutlined:before { content: "\e91c"; }
.icon-AddFilled:before { content: "\e91d"; }
.icon-FormatAlignLeftOutlined:before { content: "\e91e"; }
.icon-RemoveRedEyeFilled:before { content: "\e91f"; }
.icon-FavoriteFilled:before { content: "\e920"; }
.icon-ReceiptFilled:before { content: "\e921"; }
.icon-CheckCircleFilled:before { content: "\e922"; }
.icon-CheckCircleOutlined:before { content: "\e923"; }
.icon-DateRangeOutlined:before { content: "\e924"; }
.icon-DateRangeFilled:before { content: "\e925"; }
.icon-InfoOutlined:before { content: "\e926"; }
.icon-LogoutOutlined:before { content: "\e927"; }
.icon-LogoutFilled:before { content: "\e928"; }
.icon-QueryBuilderOutlined:before { content: "\e929"; }
.icon-SpaceDashboardFilled:before { content: "\e92a"; }
.icon-SpaceDashboardOutlined:before { content: "\e92b"; }
.icon-SettingsFilled:before { content: "\e92c"; }
.icon-SettingsOutlined:before { content: "\e92d"; }
.icon-RestoreFilled:before { content: "\e92e"; }
.icon-RestoreOutlined:before { content: "\e92f"; }
.icon-SearchFilled:before { content: "\e930"; }
.icon-SearchOutlined:before { content: "\e931"; }
.icon-AccountCircleOutlined:before { content: "\e932"; }
.icon-ReceiptOutlined:before { content: "\e933"; }
.icon-ShoppingCartFilled:before { content: "\e934"; }
.icon-ContentCutFilled:before { content: "\e935"; }
.icon-AccountCircleFilled:before { content: "\e936"; }
.icon-ErrorOutlined:before { content: "\e937"; }
.icon-ErrorFilled:before { content: "\e938"; }
.icon-WarningAmberOutlined:before { content: "\e939"; }
.icon-ErrorOutline:before { content: "\e93a"; }
.icon-WarningOutlined:before { content: "\e93b"; }
.icon-WarningFilled:before { content: "\e93c"; }
.icon-AddOutlined:before { content: "\e93d"; }
.icon-ContentCutOutlined:before { content: "\e93e"; }
.icon-CloudOutlined:before { content: "\e93f"; }
.icon-ContentPasteOutlined:before { content: "\e940"; }
.icon-ContentPasteFilled:before { content: "\e941"; }
.icon-ContentCopyOutlined:before { content: "\e942"; }
.icon-ContentCopyFilled:before { content: "\e943"; }
.icon-MailOutlined:before { content: "\e944"; }
.icon-MailFilled:before { content: "\e945"; }
.icon-LocationOnOutlined:before { content: "\e946"; }
.icon-LocationOnFilled:before { content: "\e947"; }
.icon-FormatAlignLeftFilled:before { content: "\e948"; }
.icon-ToggleOnOutlined:before { content: "\e949"; }
.icon-CloudFilled:before { content: "\e94a"; }
.icon-FolderOutlined:before { content: "\e94b"; }
.icon-FolderFilled:before { content: "\e94c"; }
.icon-PhotoOutlined:before { content: "\e94d"; }
.icon-PhotoFilled:before { content: "\e94e"; }
.icon-EditOutlined:before { content: "\e94f"; }
.icon-EditFilled:before { content: "\e950"; }
.icon-RemoveRedEyeOutlined:before { content: "\e951"; }
.icon-StarHalfOutlined:before { content: "\e952"; }
.icon-StarFilled:before { content: "\e953"; }
.icon-StarBorderFilled:before { content: "\e954"; }
.icon-StarOutlined:before { content: "\e955"; }
.icon-RadioButtonCheckedFilled:before { content: "\e956"; }
.icon-ToggleOnFilled:before { content: "\e957"; }
.icon-RadioButtonCheckedOutlined:before { content: "\e958"; }
.icon-ToggleOffFilled:before { content: "\e959"; }
.icon-StarBorderOutlined:before { content: "\e95a"; }
.icon-StarHalfFilled:before { content: "\e95b"; }
.icon-CheckBoxOutlined:before { content: "\e95c"; }
.icon-CheckBoxFilled:before { content: "\e95d"; }
.icon-RadioButtonUncheckedOutlined:before { content: "\e95e"; }
.icon-RadioButtonUncheckedFilled:before { content: "\e95f"; }
.icon-CancelOutlined:before { content: "\e960"; }
.icon-CancelFilled:before { content: "\e961"; }
.icon-ChevronLeftOutlined:before { content: "\e962"; }
.icon-ArrowDropDownOutlined:before { content: "\e963"; }
.icon-ChevronRightOutlined:before { content: "\e964"; }
.icon-ArrowUpwardOutlined:before { content: "\e965"; }
.icon-MoreVertOutlined:before { content: "\e966"; }
.icon-FastBackwardFilled:before { content: "\e967"; }
.icon-Play:before { content: "\e968"; }
.icon-FastForwardFilled:before { content: "\e969"; }
.icon-Pause:before { content: "\e96a"; }
.icon-ab-testing:before { content: "\e96b"; }
.icon-key:before { content: "\e96c"; }
.icon-key-star:before { content: "\e96d"; }
.icon-key-plus:before { content: "\e96e"; }
.icon-key-variant:before { content: "\e96f"; }
.icon-key-minus:before { content: "\e970"; }
.icon-key-remove:before { content: "\e971"; }
.icon-card-account-details:before { content: "\e972"; }
.icon-card-account-details-outline:before { content: "\e973"; }
.icon-license:before { content: "\e974"; }
.icon-bell-ring:before { content: "\e975"; }
.icon-bell-ring-outline:before { content: "\e976"; }
.icon-bell:before { content: "\e977"; }
.icon-bell-outline:before { content: "\e978"; }
.icon-receipt-text:before { content: "\e979"; }
.icon-receipt-text-edit:before { content: "\e97a"; }
.icon-receipt-text-edit-outline:before { content: "\e97b"; }
.icon-information-slab-box:before { content: "\e97c"; }
.icon-information-slab-box-outline:before { content: "\e97d"; }
.icon-call-merge:before { content: "\e97e"; }
.icon-shape-plus:before { content: "\e97f"; }
.icon-shape-plus-outline:before { content: "\e980"; }
.icon-desktop-classic:before { content: "\e981"; }
.icon-laptop:before { content: "\e982"; }
.icon-server:before { content: "\e983"; }
.icon-database:before { content: "\e984"; }
.icon-sd:before { content: "\e985"; }
.icon-nas:before { content: "\e986"; }
.icon-numeric-1-circle:before { content: "\e987"; }
.icon-numeric-2-circle:before { content: "\e988"; }
.icon-numeric-3-circle:before { content: "\e989"; }
.icon-numeric-4-circle:before { content: "\e98a"; }
.icon-numeric-5-circle:before { content: "\e98b"; }
.icon-numeric-6-circle:before { content: "\e98c"; }
.icon-numeric-7-circle:before { content: "\e98d"; }
.icon-numeric-8-circle:before { content: "\e98e"; }
.icon-numeric-9-circle:before { content: "\e98f"; }
.icon-numeric-0-circle:before { content: "\e990"; }
.icon-eye-off-outline:before { content: "\e991"; }
.icon-eye-off:before { content: "\e992"; }
.icon-help-box-multiple:before { content: "\e993"; }
.icon-face-agent:before { content: "\e994"; }
.icon-white-balance-sunny:before { content: "\e995"; }
.icon-moon-waxing-crescent:before { content: "\e996"; }
.icon-file-document-outline:before { content: "\e997"; }
.icon-file-document:before { content: "\e998"; }
.icon-text-box-search-outline:before { content: "\e999"; }
.icon-text-box-search:before { content: "\e99a"; }
.icon-book-open-page-variant:before { content: "\e99b"; }
.icon-book-open-page-variant-outline:before { content: "\e99c"; }
.icon-book:before { content: "\e99d"; }
.icon-book-outline:before { content: "\e99e"; }
.icon-view-grid-plus:before { content: "\e99f"; }
.icon-alpha-v-box:before { content: "\e9a0"; }
.icon-code-less-than:before { content: "\e9a1"; }
.icon-code-array:before { content: "\e9a2"; }
.icon-code-braces-box:before { content: "\e9a3"; }
.icon-widgets:before { content: "\e9a4"; }
.icon-widgets-outline:before { content: "\e9a5"; }
.icon-lock-reset:before { content: "\e9a6"; }
.icon-web:before { content: "\e9a7"; }
.icon-translate:before { content: "\e9a8"; }
.icon-earth:before { content: "\e9a9"; }
.icon-wechat:before { content: "\e9aa"; }
.icon-slack:before { content: "\e9ab"; }
.icon-stack-overflow:before { content: "\e9ac"; }
.icon-twitter:before { content: "\e9ad"; }
.icon-login-variant:before { content: "\e9ae"; }
.icon-sitemap:before { content: "\e9af"; }
.icon-sitemap-outline:before { content: "\e9b0"; }
.icon-transit-connection-variant:before { content: "\e9b1"; }
.icon-connection:before { content: "\e9b2"; }
.icon-note-edit:before { content: "\e9b3"; }
.icon-note-edit-outline:before { content: "\e9b4"; }
.icon-help:before { content: "\e9b5"; }
.icon-help-circle:before { content: "\e9b6"; }
.icon-lifebuoy:before { content: "\e9b7"; }
.icon-help-circle-outline:before { content: "\e9b8"; }
.icon-arrow-collapse-left:before { content: "\e9b9"; }
.icon-arrow-collapse-up:before { content: "\e9ba"; }
.icon-arrow-collapse-down:before { content: "\e9bb"; }
.icon-arrow-collapse-right:before { content: "\e9bc"; }
.icon-stop:before { content: "\e9bd"; }
.icon-delete:before { content: "\e9be"; }
.icon-delete-outline:before { content: "\e9bf"; }
.icon-minus:before { content: "\e9c0"; }
.icon-upload:before { content: "\e9c1"; }
.icon-upload-outline:before { content: "\e9c2"; }
.icon-circle-medium:before { content: "\e9c3"; }
.icon-circle-small:before { content: "\e9c4"; }
.icon-dots-hexagon:before { content: "\e9c5"; }
.icon-tablet-dashboard:before { content: "\e9c6"; }
.icon-monitor-dashboard:before { content: "\e9c7"; }
.icon-github:before { content: "\e9c8"; }
.icon-cube:before { content: "\e9c9"; }
.icon-cube-outline:before { content: "\e9ca"; }
.icon-cube-off:before { content: "\e9cb"; }
.icon-cube-off-outline:before { content: "\e9cc"; }
.icon-explorer-data:before { content: "\e9cd"; }
.icon-explorer-data-outline:before { content: "\e9ce"; }
.icon-view-column:before { content: "\e9cf"; }
.icon-view-column-outline:before { content: "\e9d0"; }
.icon-graph-outline:before { content: "\e9d1"; }
.icon-graph:before { content: "\e9d2"; }
.icon-view-sequential-outline:before { content: "\e9d3"; }
.icon-view-sequential:before { content: "\e9d4"; }
.icon-filter-variant:before { content: "\e9d5"; }
.icon-filter:before { content: "\e9d6"; }
.icon-filter-outline:before { content: "\e9d7"; }
.icon-filter-plus:before { content: "\e9d8"; }
.icon-filter-plus-outline:before { content: "\e9d9"; }
.icon-filter-minus-outline:before { content: "\e9da"; }
.icon-filter-minus:before { content: "\e9db"; }
.icon-tray-arrow-down:before { content: "\e9dc"; }
.icon-tray-arrow-up:before { content: "\e9dd"; }
.icon-video:before { content: "\e9de"; }
.icon-video-outline:before { content: "\e9df"; }
.icon-chart-timeline-variant:before { content: "\e9e0"; }
.icon-chart-timeline-variant-shimmer:before { content: "\e9e1"; }
.icon-party-popper:before { content: "\e9e2"; }
.icon-table:before { content: "\e9e3"; }
.icon-arrow-top-left-bottom-right:before { content: "\e9e4"; }
.icon-arrow-top-left-bottom-right-bold:before { content: "\e9e5"; }
.icon-sort:before { content: "\e9e6"; }
.icon-sort-descending:before { content: "\e9e7"; }
.icon-sort-ascending:before { content: "\e9e8"; }
.icon-sort-alphabetical-variant:before { content: "\e9e9"; }
.icon-stethoscope:before { content: "\e9ea"; }
.icon-edge-type:before { content: "\e9eb"; }
.icon-console-gtp:before { content: "\e9ec"; }
.icon-console-tip:before { content: "\e9ed"; }
.icon-query-template:before { content: "\e9ee"; }
.icon-swap-vertical:before { content: "\e9ef"; }
.icon-swap-horizontal:before { content: "\e9f0"; }
.icon-arrow-expand-all:before { content: "\e9f1"; }
.icon-arrow-collapse-all:before { content: "\e9f2"; }


/**
 * Make by Icon Font Exporter
 * https://www.figma.com/community/plugin/1129455674275940478/Icon-Font-Exporter
 */
