@font-face {
    font-family: "IconFont";
    src: url('IconFont.woff2?t=1699926699174') format('woff2'),
        url('IconFont.woff?t=1699926699174') format('woff'),
        url('IconFont.ttf?t=1699926699174') format('truetype');
}

.iconfont {
    font-family: "IconFont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-vesoft-arrow-back-filled:before { content: "\e900"; }
.icon-vesoft-close-filled:before { content: "\e901"; }
.icon-vesoft-arrow-forward-filled:before { content: "\e902"; }
.icon-vesoft-expand-more-filled:before { content: "\e903"; }
.icon-vesoft-expand-less-filled:before { content: "\e904"; }
.icon-vesoft-chevron-left-filled:before { content: "\e905"; }
.icon-vesoft-arrow-downward-filled:before { content: "\e906"; }
.icon-vesoft-arrow-dropdown-filled:before { content: "\e907"; }
.icon-vesoft-chevron-right-filled:before { content: "\e908"; }
.icon-vesoft-more-horiz-filled:before { content: "\e909"; }
.icon-vesoft-menu-filled:before { content: "\e90a"; }
.icon-vesoft-arrow-upward-filled:before { content: "\e90b"; }
.icon-vesoft-check-filled:before { content: "\e90c"; }
.icon-vesoft-more-vert-filled:before { content: "\e90d"; }
.icon-vesoft-person-filled:before { content: "\e90e"; }
.icon-vesoft-person-add-filled:before { content: "\e90f"; }
.icon-vesoft-notifications-filled:before { content: "\e910"; }
.icon-vesoft-people-filled:before { content: "\e911"; }
.icon-vesoft-checkbox-outline-blank-filled:before { content: "\e912"; }
.icon-vesoft-star-outline-filled:before { content: "\e913"; }
.icon-vesoft-indeterminate-checkbox-outlined:before { content: "\e914"; }
.icon-vesoft-toggle-off-outlined:before { content: "\e915"; }
.icon-vesoft-indeterminate-checkbox-filled:before { content: "\e916"; }
.icon-vesoft-query-builder-filled:before { content: "\e917"; }
.icon-vesoft-shopping-cart-outlined:before { content: "\e918"; }
.icon-vesoft-add-filled:before { content: "\e919"; }
.icon-vesoft-remove-redeye-filled:before { content: "\e91a"; }
.icon-vesoft-favorite-filled:before { content: "\e91b"; }
.icon-vesoft-receipt-filled:before { content: "\e91c"; }
.icon-vesoft-check-circle-filled:before { content: "\e91d"; }
.icon-vesoft-check-circle-outlined:before { content: "\e91e"; }
.icon-vesoft-date-range-outlined:before { content: "\e91f"; }
.icon-vesoft-date-range-filled:before { content: "\e920"; }
.icon-vesoft-info-outlined:before { content: "\e921"; }
.icon-vesoft-logout-filled:before { content: "\e922"; }
.icon-vesoft-query-builder-outlined:before { content: "\e923"; }
.icon-vesoft-receipt-outlined:before { content: "\e924"; }
.icon-vesoft-account-circle-outlined:before { content: "\e925"; }
.icon-vesoft-search-filled:before { content: "\e926"; }
.icon-vesoft-restore-filled:before { content: "\e927"; }
.icon-vesoft-settings-outlined:before { content: "\e928"; }
.icon-vesoft-settings-filled:before { content: "\e929"; }
.icon-vesoft-space-dashboard-outlined:before { content: "\e92a"; }
.icon-vesoft-space-dashboard-filled:before { content: "\e92b"; }
.icon-vesoft-shopping-cart-filled:before { content: "\e92c"; }
.icon-vesoft-content-cut-filled:before { content: "\e92d"; }
.icon-vesoft-account-circle-filled:before { content: "\e92e"; }
.icon-vesoft-error-filled:before { content: "\e92f"; }
.icon-vesoft-warning-outlined:before { content: "\e930"; }
.icon-vesoft-error-outline:before { content: "\e931"; }
.icon-vesoft-warning-filled:before { content: "\e932"; }
.icon-vesoft-content-cut-outlined:before { content: "\e933"; }
.icon-vesoft-cloud-outlined:before { content: "\e934"; }
.icon-vesoft-content-paste-filled:before { content: "\e935"; }
.icon-vesoft-content-copy-filled:before { content: "\e936"; }
.icon-vesoft-mail-outlined:before { content: "\e937"; }
.icon-vesoft-mail-filled:before { content: "\e938"; }
.icon-vesoft-location-on-outlined:before { content: "\e939"; }
.icon-vesoft-location-on-filled:before { content: "\e93a"; }
.icon-vesoft-format-align-left-filled:before { content: "\e93b"; }
.icon-vesoft-toggle-on-outlined:before { content: "\e93c"; }
.icon-vesoft-cloud-filled:before { content: "\e93d"; }
.icon-vesoft-folder-outlined:before { content: "\e93e"; }
.icon-vesoft-folder-filled:before { content: "\e93f"; }
.icon-vesoft-photo-outlined:before { content: "\e940"; }
.icon-vesoft-photo-filled:before { content: "\e941"; }
.icon-vesoft-edit-outlined:before { content: "\e942"; }
.icon-vesoft-edit-filled:before { content: "\e943"; }
.icon-vesoft-remove-redeye-outlined:before { content: "\e944"; }
.icon-vesoft-toggle-off-filled:before { content: "\e945"; }
.icon-vesoft-toggle-on-filled:before { content: "\e946"; }
.icon-vesoft-radio-button-checked-filled:before { content: "\e947"; }
.icon-vesoft-star-half-filled:before { content: "\e948"; }
.icon-vesoft-star-outlined:before { content: "\e949"; }
.icon-vesoft-star-filled:before { content: "\e94a"; }
.icon-vesoft-checkbox-outlined:before { content: "\e94b"; }
.icon-vesoft-checkbox-filled:before { content: "\e94c"; }
.icon-vesoft-radio-button-unchecked-filled:before { content: "\e94d"; }
.icon-vesoft-cancel-outlined:before { content: "\e94e"; }
.icon-vesoft-cancel-filled:before { content: "\e94f"; }
.icon-vesoft-license:before { content: "\e950"; }
.icon-vesoft-widgets:before { content: "\e951"; }
.icon-vesoft-widgets-outline:before { content: "\e952"; }
.icon-vesoft-view-grid-plus:before { content: "\e953"; }
.icon-vesoft-cached-filled:before { content: "\e954"; }
.icon-vesoft-fast-backward-filled:before { content: "\e955"; }
.icon-vesoft-fast-forward-filled:before { content: "\e956"; }
.icon-vesoft-play:before { content: "\e957"; }
.icon-vesoft-ab-testing:before { content: "\e958"; }
.icon-vesoft-key-variant:before { content: "\e959"; }
.icon-vesoft-key:before { content: "\e95a"; }
.icon-vesoft-key-star:before { content: "\e95b"; }
.icon-vesoft-key-plus:before { content: "\e95c"; }
.icon-vesoft-key-minus:before { content: "\e95d"; }
.icon-vesoft-key-remove:before { content: "\e95e"; }
.icon-vesoft-card-account-details:before { content: "\e95f"; }
.icon-vesoft-card-account-details-outline:before { content: "\e960"; }
.icon-vesoft-pause:before { content: "\e961"; }
.icon-vesoft-bell:before { content: "\e962"; }
.icon-vesoft-bell-outline:before { content: "\e963"; }
.icon-vesoft-receipt-text-edit:before { content: "\e964"; }
.icon-vesoft-receipt-text-edit-outline:before { content: "\e965"; }
.icon-vesoft-information-slab-box:before { content: "\e966"; }
.icon-vesoft-information-slab-box-outline:before { content: "\e967"; }
.icon-vesoft-call-merge:before { content: "\e968"; }
.icon-vesoft-bell-ring:before { content: "\e969"; }
.icon-vesoft-bell-ring-outline:before { content: "\e96a"; }
.icon-vesoft-database:before { content: "\e96b"; }
.icon-vesoft-server:before { content: "\e96c"; }
.icon-vesoft-sd:before { content: "\e96d"; }
.icon-vesoft-nas:before { content: "\e96e"; }
.icon-vesoft-desktop-classic:before { content: "\e96f"; }
.icon-vesoft-laptop:before { content: "\e970"; }
.icon-vesoft-shape-plus:before { content: "\e971"; }
.icon-vesoft-shape-plus-outline:before { content: "\e972"; }
.icon-vesoft-eye-off:before { content: "\e973"; }
.icon-vesoft-eye-off-outline:before { content: "\e974"; }
.icon-vesoft-numeric-1-circle:before { content: "\e975"; }
.icon-vesoft-numeric-2-circle:before { content: "\e976"; }
.icon-vesoft-numeric-3-circle:before { content: "\e977"; }
.icon-vesoft-numeric-4-circle:before { content: "\e978"; }
.icon-vesoft-numeric-5-circle:before { content: "\e979"; }
.icon-vesoft-numeric-6-circle:before { content: "\e97a"; }
.icon-vesoft-numeric-7-circle:before { content: "\e97b"; }
.icon-vesoft-numeric-8-circle:before { content: "\e97c"; }
.icon-vesoft-numeric-9-circle:before { content: "\e97d"; }
.icon-vesoft-numeric-0-circle:before { content: "\e97e"; }
.icon-vesoft-help-box-multiple:before { content: "\e97f"; }
.icon-vesoft-face-agent:before { content: "\e980"; }
.icon-vesoft-white-balance-sunny:before { content: "\e981"; }
.icon-vesoft-moon-waxing-crescent:before { content: "\e982"; }
.icon-vesoft-file-document-outline:before { content: "\e983"; }
.icon-vesoft-file-document:before { content: "\e984"; }
.icon-vesoft-text-box-search-outline:before { content: "\e985"; }
.icon-vesoft-text-box-search:before { content: "\e986"; }
.icon-vesoft-book-open-page-variant:before { content: "\e987"; }
.icon-vesoft-book-open-page-variant-outline:before { content: "\e988"; }
.icon-vesoft-book:before { content: "\e989"; }
.icon-vesoft-book-outline:before { content: "\e98a"; }
.icon-vesoft-alpha-v-box:before { content: "\e98b"; }
.icon-vesoft-code-less-than:before { content: "\e98c"; }
.icon-vesoft-code-array:before { content: "\e98d"; }
.icon-vesoft-code-braces-box:before { content: "\e98e"; }
.icon-vesoft-lock-reset:before { content: "\e98f"; }
.icon-vesoft-web:before { content: "\e990"; }
.icon-vesoft-translate:before { content: "\e991"; }
.icon-vesoft-earth:before { content: "\e992"; }
.icon-vesoft-wechat:before { content: "\e993"; }
.icon-vesoft-slack:before { content: "\e994"; }
.icon-vesoft-stack-overflow:before { content: "\e995"; }
.icon-vesoft-twitter:before { content: "\e996"; }
.icon-vesoft-help:before { content: "\e997"; }
.icon-vesoft-help-circle:before { content: "\e998"; }
.icon-vesoft-lifebuoy:before { content: "\e999"; }
.icon-vesoft-help-circle-outline:before { content: "\e99a"; }
.icon-vesoft-stop:before { content: "\e99b"; }
.icon-vesoft-github:before { content: "\e99c"; }
.icon-vesoft-login-variant:before { content: "\e99d"; }
.icon-vesoft-sitemap:before { content: "\e99e"; }
.icon-vesoft-sitemap-outline:before { content: "\e99f"; }
.icon-vesoft-transit-connection-variant:before { content: "\e9a0"; }
.icon-vesoft-connection:before { content: "\e9a1"; }
.icon-vesoft-note-edit:before { content: "\e9a2"; }
.icon-vesoft-note-edit-outline:before { content: "\e9a3"; }
.icon-vesoft-delete:before { content: "\e9a4"; }
.icon-vesoft-delete-outline:before { content: "\e9a5"; }
.icon-vesoft-table:before { content: "\e9a6"; }
.icon-vesoft-arrow-collapse-left:before { content: "\e9a7"; }
.icon-vesoft-arrow-collapse-up:before { content: "\e9a8"; }
.icon-vesoft-arrow-collapse-down:before { content: "\e9a9"; }
.icon-vesoft-arrow-collapse-right:before { content: "\e9aa"; }
.icon-vesoft-minus:before { content: "\e9ab"; }
.icon-vesoft-upload:before { content: "\e9ac"; }
.icon-vesoft-upload-outline:before { content: "\e9ad"; }
.icon-vesoft-circle-medium:before { content: "\e9ae"; }
.icon-vesoft-circle-small:before { content: "\e9af"; }
.icon-vesoft-dots-hexagon:before { content: "\e9b0"; }
.icon-vesoft-tablet-dashboard:before { content: "\e9b1"; }
.icon-vesoft-monitor-dashboard:before { content: "\e9b2"; }
.icon-vesoft-cube:before { content: "\e9b3"; }
.icon-vesoft-cube-outline:before { content: "\e9b4"; }
.icon-vesoft-cube-off:before { content: "\e9b5"; }
.icon-vesoft-cube-off-outline:before { content: "\e9b6"; }
.icon-vesoft-explorer-data:before { content: "\e9b7"; }
.icon-vesoft-explorer-data-outline:before { content: "\e9b8"; }
.icon-vesoft-chart-timeline-variant:before { content: "\e9b9"; }
.icon-vesoft-chart-timeline-variant-shimmer:before { content: "\e9ba"; }
.icon-vesoft-view-column:before { content: "\e9bb"; }
.icon-vesoft-view-column-outline:before { content: "\e9bc"; }
.icon-vesoft-graph:before { content: "\e9bd"; }
.icon-vesoft-graph-outline:before { content: "\e9be"; }
.icon-vesoft-view-sequential:before { content: "\e9bf"; }
.icon-vesoft-view-sequential-outline:before { content: "\e9c0"; }
.icon-vesoft-tray-arrow-down:before { content: "\e9c1"; }
.icon-vesoft-tray-arrow-up:before { content: "\e9c2"; }
.icon-vesoft-video:before { content: "\e9c3"; }
.icon-vesoft-video-outline:before { content: "\e9c4"; }
.icon-vesoft-filter-variant:before { content: "\e9c5"; }
.icon-vesoft-filter:before { content: "\e9c6"; }
.icon-vesoft-filter-outline:before { content: "\e9c7"; }
.icon-vesoft-filter-plus:before { content: "\e9c8"; }
.icon-vesoft-filter-plus-outline:before { content: "\e9c9"; }
.icon-vesoft-filter-minus:before { content: "\e9ca"; }
.icon-vesoft-filter-minus-outline:before { content: "\e9cb"; }
.icon-vesoft-party-popper:before { content: "\e9cc"; }
.icon-vesoft-arrow-top-left-bottom-right:before { content: "\e9cd"; }
.icon-vesoft-arrow-top-left-bottom-right-bold:before { content: "\e9ce"; }
.icon-vesoft-sort:before { content: "\e9cf"; }
.icon-vesoft-sort-descending:before { content: "\e9d0"; }
.icon-vesoft-sort-ascending:before { content: "\e9d1"; }
.icon-vesoft-sort-alphabetical-variant:before { content: "\e9d2"; }
.icon-vesoft-stethoscope:before { content: "\e9d3"; }
.icon-vesoft-edge-type:before { content: "\e9d4"; }
.icon-vesoft-console-gtp:before { content: "\e9d5"; }
.icon-vesoft-console-tip:before { content: "\e9d6"; }
.icon-vesoft-query-template:before { content: "\e9d7"; }
.icon-vesoft-swap-horizontal:before { content: "\e9d8"; }
.icon-vesoft-swap-vertical:before { content: "\e9d9"; }
.icon-vesoft-arrow-expand-all:before { content: "\e9da"; }
.icon-vesoft-arrow-collapse-all:before { content: "\e9db"; }


/**
 * Make by Icon Font Exporter
 * https://www.figma.com/community/plugin/1129455674275940478/Icon-Font-Exporter
 */
