@font-face {
    font-family: "IconFont";
    src: url('IconFont.woff2?t=1700127545758') format('woff2'),
        url('IconFont.woff?t=1700127545758') format('woff'),
        url('IconFont.ttf?t=1700127545758') format('truetype');
}

.iconfont {
    font-family: "IconFont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon-nav-query:before { content: "\e900"; }
.icon-icon-nav-frameSelect:before { content: "\e901"; }
.icon-icon-nav-frameSelect-plus:before { content: "\e902"; }
.icon-icon-nav-frameSelect-subtract:before { content: "\e903"; }
.icon-icon-nav-freeSelect:before { content: "\e904"; }
.icon-icon-nav-polygonSelect:before { content: "\e905"; }
.icon-icon-nav-singleSelect:before { content: "\e906"; }
.icon-icon-nav-filter:before { content: "\e907"; }
.icon-icon-nav-expand:before { content: "\e908"; }
.icon-icon-nav-commonNeighbor:before { content: "\e909"; }
.icon-icon-nav-findPath:before { content: "\e90a"; }
.icon-icon-nav-graphCalculation:before { content: "\e90b"; }
.icon-icon-nav-taskList:before { content: "\e90c"; }
.icon-icon-nav-console:before { content: "\e90d"; }
.icon-icon-nav-query2:before { content: "\e90e"; }
.icon-icon-nav-propertyCalculation:before { content: "\e90f"; }
.icon-icon-nav-propertyView:before { content: "\e910"; }
.icon-icon-nav-graphSpace:before { content: "\e911"; }
.icon-icon-nav-delete:before { content: "\e912"; }
.icon-icon-nav-deleteReverse:before { content: "\e913"; }
.icon-icon-nav-Revoke:before { content: "\e914"; }
.icon-icon-nav-help:before { content: "\e915"; }
.icon-icon-nav-setup:before { content: "\e916"; }
.icon-icon-nav-setup2:before { content: "\e917"; }
.icon-icon-nav-moveCanvas:before { content: "\e918"; }
.icon-icon-nav-subscript:before { content: "\e919"; }
.icon-icon-nav-subscript-2:before { content: "\e91a"; }
.icon-icon-nav-miss:before { content: "\e91b"; }
.icon-icon-nav-missReverse:before { content: "\e91c"; }
.icon-icon-nav-others:before { content: "\e91d"; }
.icon-icon-nav-Redo:before { content: "\e91e"; }
.icon-icon-snapshot-history:before { content: "\e91f"; }
.icon-icon-nav-timebar:before { content: "\e920"; }
.icon-icon-navbar-feedback:before { content: "\e921"; }
.icon-icon-navbar-troubleFeedback:before { content: "\e922"; }
.icon-icon-navbar-suggestions:before { content: "\e923"; }
.icon-icon-navbar-participationInResearch:before { content: "\e924"; }
.icon-icon-navbar-contactUs:before { content: "\e925"; }
.icon-icon-navbar-enterprise:before { content: "\e926"; }
.icon-icon-studio-nav-github:before { content: "\e927"; }
.icon-icon-workflow-edit:before { content: "\e928"; }
.icon-icon-list-close:before { content: "\e929"; }
.icon-icon-studio-btn-close:before { content: "\e92a"; }
.icon-icon-image-icon21:before { content: "\e92b"; }
.icon-icon-navbar-help:before { content: "\e92c"; }
.icon-icon-console-import:before { content: "\e92d"; }
.icon-icon-Thumbnail-graphView:before { content: "\e92e"; }
.icon-icon-studio-btn-up:before { content: "\e92f"; }
.icon-icon-studio-btn-output:before { content: "\e930"; }
.icon-icon-studio-btn-save:before { content: "\e931"; }
.icon-icon-studio-btn-history:before { content: "\e932"; }
.icon-icon-studio-btn-clear:before { content: "\e933"; }
.icon-icon-btn-template:before { content: "\e934"; }
.icon-icon-list-filterOpen:before { content: "\e935"; }
.icon-icon-list-filterClose:before { content: "\e936"; }
.icon-icon-navbar-setting:before { content: "\e937"; }
.icon-icon-studio-nav-help:before { content: "\e938"; }
.icon-icon-studio-more:before { content: "\e939"; }
.icon-icon-studio-btn-refresh:before { content: "\e93a"; }
.icon-icon-studio-btn-return:before { content: "\e93b"; }
.icon-icon-studio-plan:before { content: "\e93c"; }
.icon-icon-studio-console-change:before { content: "\e93d"; }
.icon-icon-image-icon20:before { content: "\e93e"; }
.icon-icon-Thumbnail-fullscreen:before { content: "\e93f"; }
.icon-icon-Thumbnail-moveCanvas:before { content: "\e940"; }
.icon-icon-Thumbnail-zoomin:before { content: "\e941"; }
.icon-icon-Thumbnail-zoomout:before { content: "\e942"; }
.icon-icon-Thumbnail-pack_up:before { content: "\e943"; }
.icon-icon-Thumbnail-sphereView:before { content: "\e944"; }
.icon-icon-Thumbnail-treeView:before { content: "\e945"; }
.icon-icon-Thumbnail-pack_up2:before { content: "\e946"; }
.icon-icon-Thumbnail-neuralNetwork:before { content: "\e947"; }
.icon-icon-Thumbnail-Radial:before { content: "\e948"; }
.icon-icon-Thumbnail-Grid:before { content: "\e949"; }
.icon-icon-Thumbnail-pack_down:before { content: "\e94a"; }
.icon-icon-login-Language:before { content: "\e94b"; }
.icon-icon-topbar-export:before { content: "\e94c"; }
.icon-icon-topbar-down:before { content: "\e94d"; }
.icon-icon-topbar-close:before { content: "\e94e"; }
.icon-icon-topbar-addnew:before { content: "\e94f"; }
.icon-icon-sidebar-unfold:before { content: "\e950"; }
.icon-icon-topbar-exportCSV:before { content: "\e951"; }
.icon-icon-topbar-exportSVG:before { content: "\e952"; }
.icon-icon-topbar-exportPNG:before { content: "\e953"; }
.icon-icon-graph-snapshot:before { content: "\e954"; }
.icon-icon-console-export:before { content: "\e955"; }
.icon-icon-topbar-BirdView:before { content: "\e956"; }
.icon-icon-topbar-autoSize:before { content: "\e957"; }
.icon-icon-topbar-resetSize:before { content: "\e958"; }
.icon-icon-topbar-isolatedVertex:before { content: "\e959"; }
.icon-icon-topbar-hangEdge:before { content: "\e95a"; }
.icon-icon-topbar-circle:before { content: "\e95b"; }
.icon-icon-canvas-search:before { content: "\e95c"; }
.icon-icon-topbar-relations:before { content: "\e95d"; }
.icon-icon-topbar-oneDegree:before { content: "\e95e"; }
.icon-icon-topbar-autoEdgeClustering:before { content: "\e95f"; }
.icon-icon-topbar-cancelAutoEdgeClustering:before { content: "\e960"; }
.icon-icon-topbar-edgeClustering:before { content: "\e961"; }
.icon-icon-topbar-cancelEdgeClustering:before { content: "\e962"; }
.icon-icon-exportImg:before { content: "\e963"; }
.icon-icon-showTable:before { content: "\e964"; }
.icon-icon-list-down:before { content: "\e965"; }
.icon-icon-list-up:before { content: "\e966"; }
.icon-icon-list-right:before { content: "\e967"; }
.icon-icon-list-left:before { content: "\e968"; }
.icon-icon-list-delete:before { content: "\e969"; }
.icon-icon-list-filter:before { content: "\e96a"; }
.icon-icon-list-add:before { content: "\e96b"; }
.icon-icon-list-unfold:before { content: "\e96c"; }
.icon-icon-rightclickmenu-expand:before { content: "\e96d"; }
.icon-icon-rightclickmenu-commonNeighbor:before { content: "\e96e"; }
.icon-icon-rightclickmenu-findPath:before { content: "\e96f"; }
.icon-icon-rightclickmenu-graphCalculation:before { content: "\e970"; }
.icon-icon-rightclickmenu-inspectProperty:before { content: "\e971"; }
.icon-icon-rightclickmenu-invertSelection:before { content: "\e972"; }
.icon-icon-rightclickmenu-fitToSelection:before { content: "\e973"; }
.icon-icon-rightclickmenu-duplicate:before { content: "\e974"; }
.icon-icon-image-icon1:before { content: "\e975"; }
.icon-icon-image-icon2:before { content: "\e976"; }
.icon-icon-image-icon3:before { content: "\e977"; }
.icon-icon-image-icon4:before { content: "\e978"; }
.icon-icon-image-icon5:before { content: "\e979"; }
.icon-icon-image-icon6:before { content: "\e97a"; }
.icon-icon-image-icon7:before { content: "\e97b"; }
.icon-icon-image-icon8:before { content: "\e97c"; }
.icon-icon-image-icon9:before { content: "\e97d"; }
.icon-icon-image-icon10:before { content: "\e97e"; }
.icon-icon-image-icon11:before { content: "\e97f"; }
.icon-icon-image-icon12:before { content: "\e980"; }
.icon-icon-image-icon13:before { content: "\e981"; }
.icon-icon-image-icon14:before { content: "\e982"; }
.icon-icon-image-icon15:before { content: "\e983"; }
.icon-icon-image-icon16:before { content: "\e984"; }
.icon-icon-image-iconUnselect:before { content: "\e985"; }
.icon-icon-image-icon17:before { content: "\e986"; }
.icon-icon-image-icon18:before { content: "\e987"; }
.icon-icon-image-icon19:before { content: "\e988"; }
.icon-icon-image-icon22:before { content: "\e989"; }
.icon-icon-image-icon23:before { content: "\e98a"; }
.icon-icon-image-icon29:before { content: "\e98b"; }
.icon-icon-image-icon28:before { content: "\e98c"; }
.icon-icon-image-icon27:before { content: "\e98d"; }
.icon-icon-image-icon26:before { content: "\e98e"; }
.icon-icon-image-icon25:before { content: "\e98f"; }
.icon-icon-image-icon24:before { content: "\e990"; }
.icon-icon-workflow-run:before { content: "\e991"; }
.icon-icon-workflow-stop:before { content: "\e992"; }
.icon-icon-workflow-open:before { content: "\e993"; }
.icon-icon-workflow-jobs:before { content: "\e994"; }
.icon-icon-workflow-more:before { content: "\e995"; }
.icon-icon-workflow-viewResult:before { content: "\e996"; }
.icon-icon-workflow-viewLog:before { content: "\e997"; }
.icon-icon-workflow-configuration:before { content: "\e998"; }
.icon-icon-workflow-comparison:before { content: "\e999"; }
.icon-icon-workflow-Component-Path:before { content: "\e99a"; }
.icon-icon-workflow-Component-Node-measurement:before { content: "\e99b"; }
.icon-icon-workflow-Component-Graph-feature:before { content: "\e99c"; }
.icon-icon-workflow-Component-Community-discovery:before { content: "\e99d"; }
.icon-icon-workflow-Component-Clustering:before { content: "\e99e"; }
.icon-icon-workflow-Component-Query:before { content: "\e99f"; }
.icon-icon-workflow-script:before { content: "\e9a0"; }
.icon-icon-workflow-save:before { content: "\e9a1"; }
.icon-icon-workflow-saveAs:before { content: "\e9a2"; }
.icon-icon-workflow-search:before { content: "\e9a3"; }
.icon-icon-workflow-history:before { content: "\e9a4"; }
.icon-icon-workflow-autoLayout:before { content: "\e9a5"; }
.icon-icon-TreeDiagram:before { content: "\e9a6"; }
.icon-icon-snapshot-export:before { content: "\e9a7"; }
.icon-icon-snapshot-delete:before { content: "\e9a8"; }
.icon-icon-snapshot-import:before { content: "\e9a9"; }
.icon-icon-Duplicate:before { content: "\e9aa"; }
.icon-icon-visual-filter:before { content: "\e9ab"; }
.icon-icon-visual-nav-select:before { content: "\e9ac"; }
.icon-icon-visual-nav-zoomin:before { content: "\e9ad"; }
.icon-icon-visual-nav-zoomout:before { content: "\e9ae"; }
.icon-icon-visual-nav-save:before { content: "\e9af"; }
.icon-icon-visual-nav-history:before { content: "\e9b0"; }
.icon-icon-visual-nav-output:before { content: "\e9b1"; }
.icon-icon-visual-border-adaptive:before { content: "\e9b2"; }
.icon-icon-navbar-explorer:before { content: "\e9b3"; }
.icon-icon-navbar-schema:before { content: "\e9b4"; }
.icon-icon-navbar-import:before { content: "\e9b5"; }
.icon-icon-navbar-console:before { content: "\e9b6"; }
.icon-icon-navbar-language:before { content: "\e9b7"; }
.icon-icon-navbar-queryTemplate:before { content: "\e9b8"; }
.icon-icon-navbar-sketch:before { content: "\e9b9"; }
.icon-icon-navbar-doc:before { content: "\e9ba"; }
.icon-icon-navbar-video:before { content: "\e9bb"; }
.icon-icon-navbar-beginner:before { content: "\e9bc"; }
.icon-icon-navbar-keys:before { content: "\e9bd"; }
.icon-icon-navbar-userAuthorization:before { content: "\e9be"; }
.icon-icon-navbar-dbLink:before { content: "\e9bf"; }
.icon-icon-navbar-logout:before { content: "\e9c0"; }
.icon-icon-navbar-visualQuery:before { content: "\e9c1"; }
.icon-icon-navbar-workflow:before { content: "\e9c2"; }
.icon-icon-studio-nav-schema:before { content: "\e9c3"; }
.icon-icon-studio-nav-import:before { content: "\e9c4"; }
.icon-icon-studio-nav-console:before { content: "\e9c5"; }
.icon-icon-studio-nav-language:before { content: "\e9c6"; }
.icon-icon-studio-nav-version:before { content: "\e9c7"; }
.icon-icon-studio-nav-clear:before { content: "\e9c8"; }
.icon-icon-studio-btn-download:before { content: "\e9c9"; }
.icon-icon-studio-btn-detail:before { content: "\e9ca"; }
.icon-icon-studio-btn-add:before { content: "\e9cb"; }
.icon-icon-studio-btn-back:before { content: "\e9cc"; }
.icon-icon-studio-btn-edit:before { content: "\e9cd"; }
.icon-icon-studio-btn-delete:before { content: "\e9ce"; }
.icon-icon-studio-btn-console:before { content: "\e9cf"; }
.icon-icon-studio-btn-ddl:before { content: "\e9d0"; }
.icon-icon-studio-btn-play:before { content: "\e9d1"; }
.icon-icon-studio-btn-down:before { content: "\e9d2"; }
.icon-icon-studio-btn-save-fill:before { content: "\e9d3"; }
.icon-icon-abnormal:before { content: "\e9d4"; }
.icon-icon-studio-console-graph:before { content: "\e9d5"; }
.icon-icon-studio-console-table:before { content: "\e9d6"; }
.icon-icon-studio-console-logs:before { content: "\e9d7"; }
.icon-icon-studio-console-graphviz:before { content: "\e9d8"; }
.icon-icon-studio-console-lock:before { content: "\e9d9"; }
.icon-icon-studio-console-unlock:before { content: "\e9da"; }
.icon-icon-studio-console-pop:before { content: "\e9db"; }
.icon-icon-studio-console-zoomin:before { content: "\e9dc"; }
.icon-icon-studio-console-zoomout:before { content: "\e9dd"; }
.icon-icon-studio-console-move:before { content: "\e9de"; }
.icon-icon-studio-btn-upwards:before { content: "\e9df"; }
.icon-icon-studio-btn-downwards:before { content: "\e9e0"; }
.icon-icon-studio-btn-consoleSetting:before { content: "\e9e1"; }
.icon-icon-studio-btn-consoleGTP:before { content: "\e9e2"; }
.icon-icon-studio-btn-consoleTip:before { content: "\e9e3"; }
.icon-icon-robot-excited-outline:before { content: "\e9e4"; }
.icon-icon-vesoft-explorer-data:before { content: "\e9e5"; }
.icon-icon-vesoft-sitemap-outline:before { content: "\e9e6"; }
.icon-icon-vesoft-stethoscope:before { content: "\e9e7"; }
.icon-icon-vesoft-table:before { content: "\e9e8"; }
.icon-icon-vesoft-explorer-data-outline:before { content: "\e9e9"; }
.icon-icon-vesoft-sitemap:before { content: "\e9ea"; }
.icon-icon-vesoft-tablet-dashboard:before { content: "\e9eb"; }
.icon-icon-vesoft-white-balance-sunny:before { content: "\e9ec"; }
.icon-icon-vesoft-dots-hexagon:before { content: "\e9ed"; }
.icon-icon-vesoft-edge-type:before { content: "\e9ee"; }
.icon-icon-vesoft-space-dashboard-filled:before { content: "\e9ef"; }
.icon-icon-vesoft-sort-descending:before { content: "\e9f0"; }
.icon-icon-vesoft-sort-ascending:before { content: "\e9f1"; }


/**
 * Make by Icon Font Exporter
 * https://www.figma.com/community/plugin/1129455674275940478/Icon-Font-Exporter
 */
